@tailwind base;
@tailwind components;
@tailwind utilities;

.t-logo-react {
	background-color: red;
	-webkit-mask: url(technologies/react.svg) no-repeat center;
	mask: url(/technologies/react.svg) no-repeat center;
}

.icon-technology {
	width: 120px;
	height: 120px;
}

body {
	width: 100vw !important;
}
